# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Logs (optional)
*.log

